/* header */
.hearticondiv {
    font-size: 30px;
}

.hearticon {
    color: red;
}

.hearticon:hover {
    font-size: 40px;
    color: rgb(255, 51, 0);
    transition-duration: .2s;
}

.homepagemaindiv {
    background-image: url(https://media.istockphoto.com/id/1397880811/photo/black-guitar-isometric-view-close-up-guitar-music-low-key-concept.jpg?s=612x612&w=0&k=20&c=Uru4o0GvhvatJ9EiMqYIPATmEmJXbAQz_mWS0WIfza4=);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* about */
#about {
    background-image: url(https://wallpapercave.com/wp/WsnABiF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.categorydiv {
    height: 15rem;
    position: relative;
}

.imgs {
    height: 12rem;
}

.imgs:hover {
    padding: 10px;
    transition-duration: .1s;

}

.categoryname {
    position: absolute;
    bottom: 60px;
    left: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* liked videos page */

#likedvideomaindiv {
    background-image: url(https://wallpapercave.com/wp/WsnABiF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#playbtn {
    color: rgb(40, 114, 194);
    font-weight: bold;
}

#playbtn:hover {
    background-color: rgb(40, 114, 194);
    color: white;
    font-weight: bold;
}

#removebtn {
    color: rgb(236, 27, 37);
    font-weight: bold;
}

#removebtn:hover {
    background-color: rgb(236, 27, 37);
    color: white;
    font-weight: bold;
}

#nolikedvideodiv {
    height: 100vh;

}

.emptytitle {
    font-size: 50px;
    background-image: linear-gradient(to right bottom, rgb(135, 187, 229), rgb(41, 101, 128));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emptyimg {
    width: 170px;
}

#nolikedvideodiv {
    background-image: linear-gradient(to right bottom, rgb(36, 32, 32), rgb(57, 23, 51));
    background-size: cover;
    background-repeat: no-repeat;
}

/*video pages */
.videopages {
    background-image: url(https://wallpapercave.com/wp/WsnABiF.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#likedbtn {
    color: rgb(236, 27, 37);
    font-weight: bold;
}

#likedbtn:hover {
    background-color: rgb(236, 27, 37);
    color: white;
    font-weight: bold;
}


/* footer */
#footermaindiv {
    background-image: linear-gradient(to right bottom, black, rgb(62, 16, 82), black);
}

.footerlikedvideoslink {
    text-decoration: none;
    color: white;
}

.footerlikedvideoslink:hover {
    text-decoration: underline;
    color: red;
    font-size: 27px;
    transition-duration: .1s;
}

.footericons {
    color: white;
    width: 30px;
}

.footericons:hover {
    color: blueviolet;
    transition-duration: .1s;
    cursor: pointer;
}

.icons:hover {
    font-size: 30px;

}
/* page not found */
.pnfheading{
    font-size: 100px;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, rgb(93, 8, 126), rgb(179, 22, 200));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pnfsubheading{
    margin-bottom: 30px;
    font-weight: bold;
    color: blueviolet;
}

/*https://wallpapercave.com/wp/wp9175828.jpg*/